# Optional local Coqui setup. Python 3.11 is recommended.
-r requirements.txt

--extra-index-url https://download.pytorch.org/whl/cu121
TTS==0.22.0
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
numpy==1.26.4
pandas==1.5.3
transformers==4.41.2
tokenizers==0.19.1
